
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;


}

.main{
    height: 300px;
    background-size: cover;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('Bizmain.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}



nav{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding-left: 10%;
    padding-top: 40px;
    padding-right: 10%;
}

.logo{
    color: wheat;
    font-size: 28px;

}

span{
    color: red;
}

nav ul li{
    list-style-type: none ;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: dotted;
    font-weight: 600;

}

nav ul li a:hover{
    color: red;
    transition: .3s;
}

button{
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: azure;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s;


}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}




/*    page 3            */



body{
    background-image: url("Biz2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}

.section{
    background-color: steelblue;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
    margin: 10rem auto 0 auto ;
    width: 100%;
}


.section img{
    height: 300px;
    
    padding-right: 100px;
}

.section h1 {
    margin: 0;
    color: black;
    
}

.section p{
    color: black;
    font-size: 25px;
    padding-right: 100px;
}











.section1{
    background-color: steelblue;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    margin: 10rem auto 0 auto ;
    
}


.section1 img{
    height: 300px;
    padding-left: 100px;
    
}

.section1 h1 {
    margin: 0;
    color: black;
    
}

.section1 p{
    color: black;
    font-size: 25px;
    margin-left: 10px;
}


*{
    box-sizing: border-box;
}

.child {
    /* border: 5px solid blue; */
    background-color: steelblue;
}


.parent{
    display: flex;
}

@media (min-width: 768px){
    .parent{
        display: flex;
    }
}

#left-img{
    height: 330px;
    width: 370px;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

#left-text{
    font-size: 25px;
    padding-left: 100px;
}

#headers {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    padding-left: 100px;
    color: black;
}

#right-img{
    height: 330px;
    width: 370px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#left-text{
    font-size: 25px;
    padding-right: 100px;
    
}

h3{
    padding-top: 10px;
    padding-bottom: 10px;
}

h2{
    color: yellow;
    font-size: 40px;
    -webkit-text-stroke: 3px black;
}

@media only screen and (max-width: 300px) {
    .main, .section,.section1 {font-size: 11px}
  }
